    <app-youtube-player 
      [videoId]="'D8FMxlGhTrI'"
      [volume]="deckA.volume"></app-youtube-player>
    <app-youtube-player 
      [videoId]="'NUTGr5t3MoY'"
      [volume]="deckB.volume"></app-youtube-player>
  
    <app-crossfader
    (volumeChange)="volumeChange($event)"></app-crossfader>

    <script>
  
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player1, player2;
      function onYouTubeIframeAPIReady() {
        
        player1 = new YT.Player('deck1', {
          width: '320',
          height: '320',
          videoId: '-tJYN-eG1zk',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
        
        player2 = new YT.Player('deck2', {
          width: '320',
          height: '320',
          videoId: 'NUTGr5t3MoY',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        console.log('play');
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        console.log(event);
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }

      
    </script>
