@import '../../mixins.scss';

:host {
  @include flex-col();
  justify-content: center;
}

section {
  @include flex-row();
  justify-content: center;
}

.controls {
  @include flex-row();
  justify-content: center;
}

.side {
  width: 33%;
  flex-grow: 1;
}

.reset-volume {
  flex-grow: 1;
  & :nth-child(1) {
    margin-right: 1px;
  }
}
// @import './crossfader.theme.scss';