<section>
  <div class="side"> <!-- COL SX --></div>

<div>
  <section style="height: 32px;">
    <div>
      <button (click)="resetVolume(config.min)">
        <fa-icon [flip]="'horizontal'" [icon]="icons.left"></fa-icon>
      </button>
    </div>
    
    <div>
      <label style="display:none">{{ range.value }}</label>
      <input style="height:30px" type="range"
        [formControl]="range"
        title="{{range.value}}"
        min="{{config.min}}" max="{{config.max}}" value="{{center}}">
    </div>
    <div>
      <button (click)="resetVolume(config.max)">
        <fa-icon [icon]="icons.right"></fa-icon>
      </button>
    </div>
  </section>

  <div class="controls">
    <button class="reset-volume" (click)="resetVolume(center)">
      <fa-icon [icon]="icons.center" [flip]="'horizontal'" size="lg"></fa-icon>
      <fa-icon [icon]="icons.center" size="lg"></fa-icon>
    </button>
  </div>
</div>
<div class="side"><!-- COL DX --></div>
</section>