/* You can add global styles to this file, and also import other style files */
button {
  height: 30px;
  min-width: 30px;
  background-color: #6c6060;
  border: 1px solid #5e5858;
  margin: 2px;
  border-radius: 2px;
  color: white;
}